In [1]:
import pandas as pd
Sales_Data=pd.read_csv('Downloads/DS1_C6_S6_Sales_Data.csv')
sd=Sales_Data

In [2]:
sd.info()#ADDRESSLINE2,STATE,TERRITORY

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2823 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

# replacing missing values of ADDRESSLINE2

In [6]:
sd['ADDRESSLINE2'].unique()

array([nan, 'Level 3', 'Suite 101', 'Level 6', 'Suite 750', 'Level 15',
       '2nd Floor', 'Suite 400', 'Floor No. 4', 'Suite 200'], dtype=object)

In [8]:
sd['ADDRESSLINE2'].mode()#Level 3

0    Level 3
Name: ADDRESSLINE2, dtype: object

In [10]:
sd['ADDRESSLINE2'].isnull().sum()

2521

In [12]:
sd['ADDRESSLINE2'].fillna('Level 3',inplace=True)

C:\Users\asher\AppData\Local\Temp\ipykernel_6176\1013739892.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sd['ADDRESSLINE2'].fillna('Level 3',inplace=True)

In [14]:
sd['ADDRESSLINE2'].isnull().sum()

0

# STATE

In [17]:
sd['STATE'].unique()

array(['NY', nan, 'CA', 'Victoria', 'NJ', 'CT', 'MA', 'PA', 'NSW',
       'Queensland', 'BC', 'Tokyo', 'NH', 'Quebec', 'Osaka',
       'Isle of Wight', 'NV'], dtype=object)

In [19]:
sd['STATE'].mode()

0    CA
Name: STATE, dtype: object

In [21]:
sd['STATE'].isnull().sum()

1486

In [23]:
sd['STATE'].fillna('CA',inplace=True)

C:\Users\asher\AppData\Local\Temp\ipykernel_6176\3710619375.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sd['STATE'].fillna('CA',inplace=True)

In [25]:
sd['STATE'].isnull().sum()

0

# TERRITORY

In [28]:
sd['TERRITORY'].unique()

array([nan, 'EMEA', 'APAC', 'Japan'], dtype=object)

In [30]:
sd['TERRITORY'].mode()

0    EMEA
Name: TERRITORY, dtype: object

In [32]:
sd['TERRITORY'].isnull().sum()

1074

In [34]:
sd['TERRITORY'].fillna('EMEA',inplace=True)

C:\Users\asher\AppData\Local\Temp\ipykernel_6176\2284625324.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sd['TERRITORY'].fillna('EMEA',inplace=True)

In [36]:
sd['TERRITORY'].isnull().sum()

0

In [ ]:
# replaced all missing value

In [38]:
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      2823 non-null   object
 17  CITY              2823 non-null   object
 18  STATE             2823 non-null   object
 19  POSTALCODE        2823 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         2823 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [54]:
sd.to_excel('DS1_C6_S6_Sales_Data_after_preprocessing.xlsx', index=False)