In [ ]:
"""PRACTICE
Task 1: Creating Variables
a) Create a variable rollno and assign an integer value to it. Print the value of rollno, the id, and the data
type.
b) Create a variable firstname and assign a string value to it. Print the value of firstname, the id, and the data
type.
c) Create a variable lastname and assign a string value to it. Print the value of lastname, the id, and the data type.
d) Create a variable maxmarks and assign the value 50 to it. Print the value of maxmarks, the id, and the data type."""

In [1]:
rollno=49 
firstname="Santiago"
lastname="Mathew"
maxmarks=50
print("the value of rollno:  ",rollno ,"its id is:", id(rollno),"its data type  is:",type(rollno))
print("the value of : ",firstname ,"its id is:" ,id(firstname),"its data type  is:",type(firstname))
print("the value of:  ",lastname ,"its id is:", id(lastname),"its data type  is:",type(lastname))
print("the value of : ",maxmarks ,"its id is:" ,id(maxmarks),"its data type  is:",type(maxmarks))
# CREATED 4 VAR 2 STRING AND OTHER INTEGERS PRINTED THE VALUE STORED IN VARIABLE WITH ITS ID AND DATA TYPE

the value of rollno:   49 its id is: 140704918810552 its data type  is: <class 'int'>
the value of :  Santiago its id is: 1806443691120 its data type  is: <class 'str'>
the value of:   Mathew its id is: 1806443521072 its data type  is: <class 'str'>
the value of :  50 its id is: 140704918810584 its data type  is: <class 'int'>

In [ ]:
"""Task 2: Naming a Variable
Execute the following expressions individually and explain the observations (if any) for each of them: a) var1 = 2
b) 2var = 2 c) var 1 = 2 d) var$2 = 2"""

In [3]:
#a)
var1 = 2 # it get executed as it follows rules of naming a variable

In [5]:
#b)
2var = 2 #it does not get executed as it does not  follows rules of naming a variable number should't start whhile naming a variable

SyntaxError: invalid decimal literal (1591093454.py, line 2)

In [7]:
#c)  
var 1 = 2#it does not get executed as it does not  follows rules of naming a variable number no spaces should't be given between variable

SyntaxError: invalid syntax (1840562795.py, line 2)

In [9]:
#d     
var$2 = 2 #it does not get executed as it does not  follows rules of naming a variable  as $ sign should be used in creating a vvariable

SyntaxError: invalid syntax (1605837804.py, line 2)

In [ ]:
"""Task 3: Assigning Values to a Variable
Execute the following expressions individually and explain the observations (if any) for each of them: a) Class = 15
b) class = 14 c) DEF = 13 d) def = 12 e) a=TRUE f) b=false"""

In [11]:
#a
Class = 15 # it gets executed as the name  variable Class  is used not keyword class

In [13]:
#b
class = 14 # it is invalid as class is a keyword

SyntaxError: invalid syntax (3473468154.py, line 2)

In [15]:
#c 
DEF = 13 # it gets executed as the name  variable DEF is used not the keyword def

In [17]:
#d
def = 12 # it is invalid as def is a keyword not so as per naming variable convention it fails.

SyntaxError: invalid syntax (1912855103.py, line 2)

In [19]:
# e) 
a=TRUE 
#TRUE  is treated as a variable because nameerror is displayed and message showcasting"name 'TRUE' is not defined"

NameError: name 'TRUE' is not defined

In [21]:
#f)
b=false #it is a boolean expression but we need to check condition andd apply it it gives name error with message "name 'false' is not defined"

NameError: name 'false' is not defined

In [ ]:
"""
Task 4: Using id()
a) Create a variable named marks and assign it a float value between 0 and 100. Print the value, the id, and the data type.
b) Change the value of marks to any other float value between 0 and 100. Print the value of marks, the id, and the data type.
c) Is the id for the marks variable in the last two questions the same or different? Explain with justification."""

In [23]:
#a) Create a variable named marks and assign it a float value between 0 and 100. Print the value, the id, and the data type.
marks=56.6
print("the value of marks:  ",marks ," ,its id is:", id(marks)," ,its data type  is:",type(marks))

the value of marks:   56.6  ,its id is: 1806442209072  ,its data type  is: <class 'float'>

In [25]:
#b) Change the value of marks to any other float value between 0 and 100. Print the value of marks, the id, and the data type.
marks=96.6
print("the value of marks:  ",marks ," ,its id is:", id(marks)," ,its data type  is:",type(marks))

the value of marks:   96.6  ,its id is: 1806465624432  ,its data type  is: <class 'float'>

In [27]:
#c) Is the id for the marks variable in the last two questions the same or different? Explain with justification.

In [29]:
#it is different the id for marks at value 56.6 is 2204370730736 when marks value
#is changed from 56.6 to 96.6 the id also changed from 2204370730736 to 2204339443024

In [ ]:
""" 
Task 5: Formatting the Output
a) Define a variable maxmarks and assign it the value 100. Divide marks by maxmarks. Print the output as a percentage. Example of expected output: 87.00%
b) Print the value of the variable fullname by joining firstname and lastname.
Example of expected output: John Doe
Note: These are the variables from Task 1.
c) Print the value of the variable fullname with the text "scored", followed by the percentage of marks. Example of expected output: John Doe scored 87.00%."""

In [31]:
#a) Define a variable maxmarks and assign it the value 100. Divide marks by maxmarks. 
#Print the output as a percentage. Example of expected output: 87.00%
maxmarks=100
pervar=(marks/ maxmarks)*100
print(f"{pervar:.2f}%") # we got  0.966   when dividing marks from maxmarks then we multiplied it by 100 then we  used string to display % with  two decimal places

96.60%

In [33]:
#b) Print the value of the variable fullname by joining firstname and lastname.
#Example of expected output: John Doe
#Note: These are the variables from Task 1.
print(firstname,lastname) # we got op expected we just put a comma betwwen two variable and printed it

Santiago Mathew

In [35]:
#c) Print the value of the variable fullname with the text "scored", followed by the percentage of marks. Example of expected output: John Doe scored 87.00%
fullname ="scored"
print ("Santiago Mathew" ,f"{pervar:.2f}%") # we used "Santiago Mathew" and  f string on pervar with 2 decimal and  %  for displaying symbol

Santiago Mathew 96.60%

In [ ]:
"""
Task 6: Arithmetic Operations
Execute the following expressions and explain the observations of the output:
a) 1+ "2"
b) "1" + "2"
c) 1/2
d) 1//2                                     """

In [37]:
# a)
1+ "2" # we got type error for adding two diff type a integer with a string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
# b)
"1" + "2"# we  got a string '12' from it concated

'12'

In [41]:
# c)
1/2 # we got div  output in float  type

0.5

In [43]:
#  d)
1//2  # we got div  output in int type

0

In [ ]:
"""
Task 7: Logical Operations
Execute the following commands and explain the output
for each:
a) True and True b) True and False c) False or True d) False or False                   """

In [45]:
# a) True and True
True and True # it gave true as true and true is the only condition in and which would give true

True

In [47]:
# b) True and False
True and False # it will give falsse as only case in and where it is true is when both are true

False

In [49]:
#c) False or True
False or True # it will give true because any  one condition is true

True

In [51]:
#d) False or False 
False or False # it will give false as both are false

False

In [ ]:
"""
Task 8: Identity and Membership Operations
a) Compare firstname and fullname using the "in" operator. Print and explain the output.
b) Compare firstname and fullname using the "is" operator. Print and explain the output.  """

In [53]:
#a) Compare firstname and fullname using the "in" operator. Print and explain the output.
firstname="Santiago"
fullname="Santiago Mathew"
firstname in fullname # as Santiago is in Santiago Mathew it generates true

True

In [ ]:
#Compare firstname and fullname using the "is" operator. Print and explain the output.

In [55]:
print(firstname is fullname) # it returned false because  firstname id is 2204317013360 and fullname id is 2204371537584 it is not equal
print(id(fullname))
print(id(firstname))

False
1806497910320
1806443691120

In [57]:
"""
Task 9: Associativity
Given that a=4, b=3, c=2, d = a**b+c, and e = a**(b+c)
a) Print the value of d.
b) Print the value of e.
c) Explain why the values of d and e are same or different.              """
a=4
b=3 
c=2 
d = a**b+c
e = a**(b+c)
# a
print(d)
#b
print(e)
#c
#
# in d we did't add paranthesis so following bodmas a**b which is 4**3=64 and then added 2 which gave 66
# wheras in e we had parenthesis so it added b+c first which is  5 aka (3+2) then 4**5 so it  gave 1024

66
1024