In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
app=pd.read_excel('appearances.xlsx')
app.head()

,appearance_id,game_id,player_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2224728_119169,2224728,119169,2012-07-13,Aron Johannsson,DK1,0,0,0,0,90
1,2224732_161244,2224732,161244,2012-07-14,Conor O'Brien,DK1,0,0,1,0,90
2,2224729_39467,2224729,39467,2012-07-15,Clarence Goodson,DK1,0,0,0,0,90
3,2232104_119169,2232104,119169,2012-07-19,Aron Johannsson,ELQ,0,0,0,0,74
4,2219794_39475,2219794,39475,2012-07-22,Sacha Kljestan,BESC,0,0,0,0,3

In [5]:
game_events=pd.read_excel('game_events.xlsx')
game_events.head()

,game_event_id,date,game_id,minute,type,player_id,description,player_in_id,player_assist_id
0,c6a3c088ed8a38d4ce074dd73b20d3da,2012-08-19,2221641,62,Substitutions,1335,", Not reported",45668.0,NaN
1,02d605a5c2dc4f9a6721daa583fa5405,2012-08-26,2222536,54,Cards,1321,"1. Yellow card , Foul",NaN,NaN
2,b56c2e2e087cddb3cfe9e3d340975df9,2012-11-18,2222707,79,Substitutions,104203,", Tactical",25740.0,NaN
3,4a15d1fff4f476f48bb60092c61641d5,2012-11-23,2222721,72,Substitutions,104203,", Tactical",15583.0,NaN
4,daa97877f7edf2fda885b411d7197921,2013-05-17,2222782,63,Goals,104203,", Right-footed shot, 1. Goal of the Season Ass...",NaN,15077.0

In [6]:
game_lineups=pd.read_excel('game_lineups.xlsx')
game_lineups.head()

,game_lineups_id,game_id,type,number,player_id,player_name,team_captain,position
0,f2570d1504fc02f4b6c7608e8dcf89a3,4087925,substitutes,34,242284,Ethan Horvath,0,Goalkeeper
1,f5f0da93ea8e1d8bdd799658e7c8f7cb,4087928,starting_lineup,13,145466,Tim Ream,0,Centre-Back
2,31a4d12ec23d604779d909d26c1b5410,4087929,substitutes,26,578539,Chris Richards,0,Centre-Back
3,776dcbef98651450db76723cb7e3b4df,4087935,substitutes,26,578539,Chris Richards,0,Centre-Back
4,6a35ef7495303f29e7f85dbd54547fb1,4087936,starting_lineup,13,145466,Tim Ream,1,Centre-Back

In [7]:
games=pd.read_excel('games.xlsx')
games.head()# game_id

,game_id,competition_id,season,round,date,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2222734,RU1,2012,19. Matchday,2012-12-07,2,3,11.0,10.0,Miodrag Bozovic,Slavoljub Muslin,Olimp-2,5700.0,Sergey Kuznetsov,NaN,NaN,FK Rostov,FK Krasnodar,02:03:00,domestic_league
1,2224572,DK1,2012,3. Matchday,2012-07-28,1,2,12.0,1.0,Jess Thorup,Lars Sondergaard,Blue Water Arena,5345.0,Michael Svendsen,NaN,NaN,Esbjerg fB,Sonderjyske Fc,01:02:00,domestic_league
2,2224628,DK1,2012,22. Matchday,2013-03-08,2,0,3.0,10.0,Colin Todd,Lars Sondergaard,Cepheus Park Randers,3481.0,Jakob Kehlet,NaN,NaN,Randers Fodbold Club,Sonderjyske Fc,02:00:00,domestic_league
3,2224655,DK1,2012,22. Matchday,2013-03-10,0,3,6.0,12.0,Peter Rensen,Auri Skarbalius,Ceres Park,7967.0,Kenn Hansen,NaN,NaN,Aarhus Gymnastik Forening,BRA NDBYERNES,00:03:00,domestic_league
4,2224729,DK1,2012,1. Matchday,2012-07-15,0,1,9.0,5.0,Auri Skarbalius,Troels Bech,Brondby Stadium,10806.0,Lars Christoffersen,NaN,NaN,Brondby IF,Odense Boldklub,00:01:00,domestic_league

In [8]:
players=pd.read_excel('players.xlsx')
players.head()

,player_id,name,last_season,current_club_id,player_code,country_of_birth,date_of_birth,sub_position,position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,124732,John Anthony Brooks,2023,533,john-anthony-brooks,Germany,1993-01-28,Centre-Back,Defender,left,194.0,2000000.0,15000000.0,2024-06-30,ROGON
1,223047,Emerson Hyndman,2018,903,emerson-hyndman,United States,1996-04-09,Central Midfield,Midfield,right,170.0,800000.0,1800000.0,NaT,OmniSports
2,307781,Lynden Gooch,2016,289,lynden-gooch,United States,1995-12-24,Right Winger,Attack,right,173.0,1000000.0,1000000.0,2024-06-30,Unique Sports Group
3,370846,Timothy Weah,2023,506,timothy-weah,United States,2000-02-22,Right Midfield,Midfield,right,183.0,14000000.0,15000000.0,2028-06-30,BS Group - BS Law
4,484756,Djordje Mihailovic,2023,1090,djordje-mihailovic,United States,1998-11-10,Attacking Midfield,Midfield,NaN,178.0,5000000.0,6000000.0,2026-06-30,YMU Management Ltd.

In [9]:
app.isnull().sum()# no missing values
game_events.isnull().sum()# missing value there
#game_lineups.isnull().sum()# no miising values
#games.isnull().sum()# missig values there 
#players.isnull().sum()# missing value there

game_event_id          0
date                   0
game_id                0
minute                 0
type                   0
player_id              0
description          933
player_in_id         694
player_assist_id    1709
dtype: int64

In [10]:
game_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849 entries, 0 to 1848
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_event_id     1849 non-null   object
 1   date              1849 non-null   datetime64[ns]
 2   game_id           1849 non-null   int64
 3   minute            1849 non-null   int64
 4   type              1849 non-null   object
 5   player_id         1849 non-null   int64
 6   description       916 non-null    object
 7   player_in_id      1155 non-null   float64
 8   player_assist_id  140 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 130.1+ KB

In [11]:
a=game_events['description'].mode()

In [12]:
game_events['description']=game_events['description'].astype('category')

In [13]:
game_events['description']=game_events['description'].fillna(a)

In [14]:
game_events['player_in_id'].fillna(game_events['player_in_id'].mode(),inplace=True)

In [15]:
game_events.drop('player_assist_id',axis=1,inplace=True)

In [16]:
game_events.drop('description',axis=1,inplace=True)

In [17]:
app.isnull().sum()# no missing values
game_events.isnull().sum()# no miising values
game_lineups.isnull().sum()# no miising values
games.isnull().sum()# missig values there 
#players.isnull().sum()# missing value there

game_id                      0
competition_id               0
season                       0
round                        0
date                         0
home_club_goals              0
away_club_goals              0
home_club_position         479
away_club_position         479
home_club_manager_name       5
away_club_manager_name       5
stadium                      0
attendance                 115
referee                      2
home_club_formation       3268
away_club_formation       3268
home_club_name             110
away_club_name              63
aggregate                    0
competition_type             0
dtype: int64

In [18]:
games.drop(['home_club_formation','away_club_formation'],axis=1,inplace=True)

In [19]:
games.info()#home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,attendance,referee,home_club_name,away_club_name

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 3268 non-null   int64
 1   competition_id          3268 non-null   object
 2   season                  3268 non-null   int64
 3   round                   3268 non-null   object
 4   date                    3268 non-null   datetime64[ns]
 5   home_club_goals         3268 non-null   int64
 6   away_club_goals         3268 non-null   int64
 7   home_club_position      2789 non-null   float64
 8   away_club_position      2789 non-null   float64
 9   home_club_manager_name  3263 non-null   object
 10  away_club_manager_name  3263 non-null   object
 11  stadium                 3268 non-null   object
 12  attendance              3153 non-null   float64
 13  referee                 3266 non-null   object
 14  home_club_name          3158 non-null   object
 15  away_club_name          3205 non-null   object
 16  aggregate               3268 non-null   object
 17  competition_type        3268 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(10)
memory usage: 459.7+ KB

In [20]:
games.fillna(games['home_club_position'].mode(),inplace=True)

In [21]:
games.fillna(games['away_club_position'].mode(),inplace=True)

In [22]:
games.fillna(games['attendance'].median(),inplace=True)

In [23]:
app.isnull().sum()# no missing values
game_events.isnull().sum()# no miising values
game_lineups.isnull().sum()# no miising values
games.isnull().sum()# missig values there 
players.isnull().sum()# missing value there

player_id                       0
name                            0
last_season                     0
current_club_id                 0
player_code                     0
country_of_birth                0
date_of_birth                   0
sub_position                    0
position                        0
foot                           11
height_in_cm                    3
market_value_in_eur            38
highest_market_value_in_eur     4
contract_expiration_date       46
agent_name                     45
dtype: int64

In [24]:
players['foot'].fillna(players['foot'].mode()[0],inplace=True)

In [25]:
players['height_in_cm'].fillna(players['height_in_cm'].mode()[0],inplace=True)

In [26]:
players['market_value_in_eur'].fillna(players['market_value_in_eur'].median(),inplace=True)

In [27]:
players['highest_market_value_in_eur'].fillna(players['highest_market_value_in_eur'].median(),inplace=True)

In [28]:
players['contract_expiration_date'].fillna(players['contract_expiration_date'].mode()[0],inplace=True)

In [29]:
players['agent_name'].fillna(players['agent_name'].mode()[0],inplace=True)

In [30]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    152 non-null    int64
 1   name                         152 non-null    object
 2   last_season                  152 non-null    int64
 3   current_club_id              152 non-null    int64
 4   player_code                  152 non-null    object
 5   country_of_birth             152 non-null    object
 6   date_of_birth                152 non-null    datetime64[ns]
 7   sub_position                 152 non-null    object
 8   position                     152 non-null    object
 9   foot                         152 non-null    object
 10  height_in_cm                 152 non-null    float64
 11  market_value_in_eur          152 non-null    float64
 12  highest_market_value_in_eur  152 non-null    float64
 13  contract_expiration_date     152 non-null    datetime64[ns]
 14  agent_name                   152 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 17.9+ KB

In [31]:
players.isnull().sum()

player_id                      0
name                           0
last_season                    0
current_club_id                0
player_code                    0
country_of_birth               0
date_of_birth                  0
sub_position                   0
position                       0
foot                           0
height_in_cm                   0
market_value_in_eur            0
highest_market_value_in_eur    0
contract_expiration_date       0
agent_name                     0
dtype: int64

In [32]:
app.isnull().sum()# no missing values
game_events.isnull().sum()# no miising values
game_lineups.isnull().sum()# no miising values
games.isnull().sum()# missig values there 
players.isnull().sum()# missing value there

player_id                      0
name                           0
last_season                    0
current_club_id                0
player_code                    0
country_of_birth               0
date_of_birth                  0
sub_position                   0
position                       0
foot                           0
height_in_cm                   0
market_value_in_eur            0
highest_market_value_in_eur    0
contract_expiration_date       0
agent_name                     0
dtype: int64

# merging column

In [34]:
result_one = pd.merge(app,game_events,on=['player_id','game_id'])
result_one

,appearance_id,game_id,player_id,date_x,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played,game_event_id,date_y,minute,type,player_in_id
0,2224732_161244,2224732,161244,2012-07-14,Conor O'Brien,DK1,0,0,1,0,90,d9f02a9d767f319e58909ba1e1de6d23,2012-07-14,50,Goals,NaN
1,2232104_119169,2232104,119169,2012-07-19,Aron Johannsson,ELQ,0,0,0,0,74,2ab0ea7af8313c0da07c723728bb6a49,2012-07-19,74,Substitutions,174001.0
2,2224560_39467,2224560,39467,2012-07-22,Clarence Goodson,DK1,1,0,0,0,90,e7631c64f9a922d4370ba6db39ccbfac,2012-07-22,60,Cards,NaN
3,2224569_161244,2224569,161244,2012-07-22,Conor O'Brien,DK1,1,0,0,1,90,abe3da42c64790a4c4ae00ff82c3024f,2012-07-22,68,Cards,NaN
4,2224568_119169,2224568,119169,2012-07-23,Aron Johannsson,DK1,0,0,0,0,73,1b4e309dd87c3a8f86e0675b9b29d36c,2012-07-23,73,Substitutions,24282.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,3450613_315762,3450613,315762,2020-09-20,Luca de la Torre,NL1,0,0,0,0,58,027c17a496d567bce24280628ee1bce2,2020-09-20,58,Substitutions,446247.0
1118,3412906_393325,3412906,393325,2020-09-26,Josh Sargent,L1,0,0,0,1,87,e22f77951e979538ff2e0c1fa1fd0611,2020-09-26,87,Substitutions,344830.0
1119,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,77,3e0892bd11f50a5259b22e5c43755ada,2020-09-26,11,Goals,NaN
1120,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,77,2c1bc4101fb8b426e84b9b5d55eb5783,2020-09-26,77,Substitutions,358907.0
1121,3415296_367423,3415296,367423,2020-09-26,Chris Durkin,BE1,1,0,0,0,84,b3d9d733681d01939841c363789f9642,2020-09-26,84,Substitutions,232848.0

In [35]:
result_two= pd.merge(result_one,game_lineups,on=['player_id'])
result_two['game_id']=result_two['game_id_x']

In [36]:
result_three= pd.merge(result_two,games,on=['game_id'])
result_three

,appearance_id,game_id_x,player_id,date_x,player_name_x,competition_id_x,yellow_cards,red_cards,goals,assists,...,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_name,away_club_name,aggregate,competition_type
0,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,2.0,Dieter Hecking,Armin Veh,Max-Morlock-Stadion,45033.0,Felix Zwayer,1.FC Nuremberg,eintracht frankfurt Football ag,01:02:00,domestic_league
1,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,2.0,Dieter Hecking,Armin Veh,Max-Morlock-Stadion,45033.0,Felix Zwayer,1.FC Nuremberg,eintracht frankfurt Football ag,01:02:00,domestic_league
2,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,2.0,Dieter Hecking,Armin Veh,Max-Morlock-Stadion,45033.0,Felix Zwayer,1.FC Nuremberg,eintracht frankfurt Football ag,01:02:00,domestic_league
3,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,2.0,Dieter Hecking,Armin Veh,Max-Morlock-Stadion,45033.0,Felix Zwayer,1.FC Nuremberg,eintracht frankfurt Football ag,01:02:00,domestic_league
4,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,2.0,Dieter Hecking,Armin Veh,Max-Morlock-Stadion,45033.0,Felix Zwayer,1.FC Nuremberg,eintracht frankfurt Football ag,01:02:00,domestic_league
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,18.0,Hernan Losada,Nicky Hayen,Olympisch Stadion,3200.0,Wesli De Cremer,Beerschot V.A.,SK Beveren,03:02:00,domestic_league
3633,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,18.0,Hernan Losada,Nicky Hayen,Olympisch Stadion,3200.0,Wesli De Cremer,Beerschot V.A.,SK Beveren,03:02:00,domestic_league
3634,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,18.0,Hernan Losada,Nicky Hayen,Olympisch Stadion,3200.0,Wesli De Cremer,Beerschot V.A.,SK Beveren,03:02:00,domestic_league
3635,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,18.0,Hernan Losada,Nicky Hayen,Olympisch Stadion,3200.0,Wesli De Cremer,Beerschot V.A.,SK Beveren,03:02:00,domestic_league
3636,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,18.0,Hernan Losada,Nicky Hayen,Olympisch Stadion,3200.0,Wesli De Cremer,Beerschot V.A.,SK Beveren,03:02:00,domestic_league

In [37]:
result_four= pd.merge(result_three,players,on='player_id')
result_four

,appearance_id,game_id_x,player_id,date_x,player_name_x,competition_id_x,yellow_cards,red_cards,goals,assists,...,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,Germany,1990-03-29,Right-Back,Defender,right,186.0,700000.0,5000000.0,2025-06-30,Wasserman
1,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,Germany,1990-03-29,Right-Back,Defender,right,186.0,700000.0,5000000.0,2025-06-30,Wasserman
2,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,Germany,1990-03-29,Right-Back,Defender,right,186.0,700000.0,5000000.0,2025-06-30,Wasserman
3,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,Germany,1990-03-29,Right-Back,Defender,right,186.0,700000.0,5000000.0,2025-06-30,Wasserman
4,2231426_49723,2231426,49723,2012-09-21,Timothy Chandler,L1,0,0,0,0,...,Germany,1990-03-29,Right-Back,Defender,right,186.0,700000.0,5000000.0,2025-06-30,Wasserman
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,United States,1996-08-29,Centre-Forward,Attack,right,176.0,300000.0,600000.0,2026-06-30,TOP Agency
3633,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,United States,1996-08-29,Centre-Forward,Attack,right,176.0,300000.0,600000.0,2026-06-30,TOP Agency
3634,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,United States,1996-08-29,Centre-Forward,Attack,right,176.0,300000.0,600000.0,2026-06-30,TOP Agency
3635,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,United States,1996-08-29,Centre-Forward,Attack,right,176.0,300000.0,600000.0,2026-06-30,TOP Agency
3636,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,...,United States,1996-08-29,Centre-Forward,Attack,right,176.0,300000.0,600000.0,2026-06-30,TOP Agency

In [38]:
result_four.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3637 entries, 0 to 3636
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   appearance_id                3637 non-null   object
 1   game_id_x                    3637 non-null   int64
 2   player_id                    3637 non-null   int64
 3   date_x                       3637 non-null   datetime64[ns]
 4   player_name_x                3637 non-null   object
 5   competition_id_x             3637 non-null   object
 6   yellow_cards                 3637 non-null   int64
 7   red_cards                    3637 non-null   int64
 8   goals                        3637 non-null   int64
 9   assists                      3637 non-null   int64
 10  minutes_played               3637 non-null   int64
 11  game_event_id                3637 non-null   object
 12  date_y                       3637 non-null   datetime64[ns]
 13  minute                       3637 non-null   int64
 14  type_x                       3637 non-null   object
 15  player_in_id                 2284 non-null   float64
 16  game_lineups_id              3637 non-null   object
 17  game_id_y                    3637 non-null   int64
 18  type_y                       3637 non-null   object
 19  number                       3637 non-null   int64
 20  player_name_y                3637 non-null   object
 21  team_captain                 3637 non-null   int64
 22  position_x                   3637 non-null   object
 23  game_id                      3637 non-null   int64
 24  competition_id_y             3637 non-null   object
 25  season                       3637 non-null   int64
 26  round                        3637 non-null   object
 27  date                         3637 non-null   datetime64[ns]
 28  home_club_goals              3637 non-null   int64
 29  away_club_goals              3637 non-null   int64
 30  home_club_position           3637 non-null   float64
 31  away_club_position           3637 non-null   float64
 32  home_club_manager_name       3637 non-null   object
 33  away_club_manager_name       3637 non-null   object
 34  stadium                      3637 non-null   object
 35  attendance                   3637 non-null   float64
 36  referee                      3637 non-null   object
 37  home_club_name               3637 non-null   object
 38  away_club_name               3637 non-null   object
 39  aggregate                    3637 non-null   object
 40  competition_type             3637 non-null   object
 41  name                         3637 non-null   object
 42  last_season                  3637 non-null   int64
 43  current_club_id              3637 non-null   int64
 44  player_code                  3637 non-null   object
 45  country_of_birth             3637 non-null   object
 46  date_of_birth                3637 non-null   datetime64[ns]
 47  sub_position                 3637 non-null   object
 48  position_y                   3637 non-null   object
 49  foot                         3637 non-null   object
 50  height_in_cm                 3637 non-null   float64
 51  market_value_in_eur          3637 non-null   float64
 52  highest_market_value_in_eur  3637 non-null   float64
 53  contract_expiration_date     3637 non-null   datetime64[ns]
 54  agent_name                   3637 non-null   object
dtypes: datetime64[ns](5), float64(7), int64(17), object(26)
memory usage: 1.5+ MB

In [39]:
result_four['game_id_y'].size

3637

In [40]:
result_four['competition_id']=result_four['competition_id_x']
result_four['player_name']=result_four['player_name_x']
result_four['date']=result_four['date_x']
result_four['game_id']=result_four['game_id_y']
result_four.drop(['player_name_x','player_name_y','competition_id_x','competition_id_y','date_x','date_y','game_id_x','game_id_y'],axis=1,inplace=True)

In [41]:
result_four.columns

Index(['appearance_id', 'player_id', 'yellow_cards', 'red_cards', 'goals',
       'assists', 'minutes_played', 'game_event_id', 'minute', 'type_x',
       'player_in_id', 'game_lineups_id', 'type_y', 'number', 'team_captain',
       'position_x', 'game_id', 'season', 'round', 'date', 'home_club_goals',
       'away_club_goals', 'home_club_position', 'away_club_position',
       'home_club_manager_name', 'away_club_manager_name', 'stadium',
       'attendance', 'referee', 'home_club_name', 'away_club_name',
       'aggregate', 'competition_type', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'date_of_birth',
       'sub_position', 'position_y', 'foot', 'height_in_cm',
       'market_value_in_eur', 'highest_market_value_in_eur',
       'contract_expiration_date', 'agent_name', 'competition_id',
       'player_name'],
      dtype='object')

In [42]:
result_four.drop('agent_name',axis=1,inplace=True)

In [43]:
#result_four.drop('player_in_id',axis=1,inplace=True)

In [44]:
result_four.shape

(3637, 48)

In [55]:
#test=pd.read_excel('test data.xlsx')
#test.shape

In [49]:
result_four.to_csv('Football_data_merged_cleaned.csv')